.sobre-nos {
  background-color: #000000; /* Fundo preto */
  color: #ffffff; /* Cor do texto branca para contraste */
}

.sobre-nos h1 {
  font-size: 2.5rem;
font-family: 'Corleone', sans-serif;
  color: #ffffff; /* Cor do título branca */
}

.sobre-nos h2 {
  font-size: 1.75rem;
  color: #ff0000; /* Cor azul para os subtítulos */
  font-family: 'Corleone', sans-serif;
}

.sobre-nos ul {
  list-style-type: none;
  padding-left: 0;
}

.sobre-nos ul li {
  padding: 5px 0;
}

.sobre-nos .container {
  max-width: 1200px;
}

.sobre-nos .lead {
  font-size: 1.25rem;
  color: #d1d1d1; /* Cor cinza claro para o texto principal */
}

.sobre-nos p {
  color: #d1d1d1; /* Cor cinza claro para os parágrafos */
}
