.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.logo img {
    height: 50px; /* Adjust as needed */
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.auth-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
