.footer {
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding: 2rem 0;
}

.footer h1 {
    font-size: 28px;
    margin-bottom: 1rem;
}

.logofooter {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
}

.logofooter img {
    max-width: 200px;
}

.infs {
    display: flex;
    justify-content: center;
    width: 100%;
    color: gray;
    padding: 0 2rem;
}

.coluna1 {
    text-align: left;
}


.coluna1,
.coluna2,
.coluna3,
.coluna4 a {
    text-decoration: none;
}

.coluna1,
.coluna2,
.coluna3,
.coluna4 {
    align-self: flex-start;
    padding-bottom: 2rem;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.rowfooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.infs {
    flex: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infs h1 {
    color: white;
}

.infs h4 {
    margin-bottom: 1rem;
    color: white;
}

.infs p,
.infs span {
    margin-bottom: 0.5rem;
    text-align: left;
}

.card {
    /* width: fit-content;
    height: fit-content; */
    background-color: transparent;
    display: flex;
    flex-direction: row; /* Ensure social icons align horizontally */
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 1s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128c7e;
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}